langdetect
pandas
datasets
librosa
soundfile
google.cloud.speech>=2.23.0
azure.cognitiveservices.speech
openai
prefect
whisper
pytest
jiwer
transformers
huggingsound
google-auth>=2.27.0
matplotlib>=3.3.2
nemo_toolkit['all']
Cython
torch
seaborn