prefect
datasets
jiwer
matplotlib
google-cloud-speech
azure-cognitiveservices-speech
openai
openai-whisper
transformers
librosa
Cython
nemo_toolkit
hydra-core
torch
seaborn
pandas
pytorch-lightning
sentencepiece
youtokentome
inflect
webdataset
pyannote.core
pyannote.metrics
editdistance
ipython